
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}
.Container0{
background:blue;
 width:200px;
 height:200px;
}
.Container1{
background:blue;
 width:200px;
 height:200px;
}
.Container2{
background:blue;
 width:200px;
 height:200px;
}
.Container3{
background:blue;
 width:200px;
 height:200px;
}
.Container4{
background:blue;
 width:200px;
 height:200px;
}
.Container5{
background:blue;
 width:200px;
 height:200px;
}
.Container6{
background:blue;
 width:200px;
 height:200px;
}
.Container7{
background:blue;
 width:200px;
 height:200px;
}
.Container8{
background:blue;
 width:200px;
 height:200px;
}
.Container9{
background:blue;
 width:200px;
 height:200px;
}